@media (max-width: 575px) {

  .site__header{
    position: relative;
    i{
      color: #ffffff;
      position: absolute;
      top: 35px;
      right: 50px;
      font-size: 20px;
      cursor: pointer;
    }
  }
  .header__logo{
    text-align: center;
    padding: 30px;
    font-size: 3rem;
  }
  .header__nav{
    display: none;

  }
  .header__nav--opened{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 15px;

  }
  .main__content{
    position: relative;
    min-height: 900px;
    padding-top: 94px;
    .main__heading{
      font-size: 52px;
      text-align: center;
      padding-top: 15px;
      margin: 0 auto;
    }
    .main__paragraph{
      text-align: justify;
      max-width: 90vw;
      margin: 0 auto;
    }
    .main__contact-button{
      margin-left: calc(50vw - 51px);
    }
    .main__image{
      width: 500px;
      height: 500px;
      bottom: -88px;
      right: 0;
    }
    .media-container{
      display: flex;
      justify-content: center;
    }
  }

  .section__service{
    .section-service__image{
      display: none;
    }
    .section-service__container{
      .section-service__box{
        margin: 0 auto;
        max-width: 288px;
        text-align: center;
      }
    }
  }

  .section__portfolio{
    .section-portfolio__container{
      justify-content: center;
      div{
        width: 95vw;
        height: 95vw;
      }
    }
  }

  .section__pricing{
    .section-pricing__container{
      flex-direction: column;
      align-items: center;
      .section-pricing__box{
        width: 299px;
        height: 377px;
        margin-bottom: 30px;
      }
    }
  }

  footer{
    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      .media-container{
        padding-top: 15px;
      }
    }
  }
}

@media (min-width: 576px) {
  .site__header{
    .container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 94px;
      i{
        display: none;
      }
    }
  }
  .header__nav{
    padding-left: 20px;
  }

  .main__content{
    padding-top: 150px;
    padding-left: calc(40% - 200px);
    min-height: 910px;
    .main__heading{
      font-size: 52px;
      text-align: left;
    }
    .main__paragraph{
      text-align: left;
      max-width: 435px;
    }
    .main__image{
      width: 750px;
      height: 750px;
      bottom: -131px;
      right: 0;
    }
  }

  .section__service{
    .section-service__image{
      display: none;
    }
    .section-service__container{
      .section-service__box{
        margin: 0 auto;
        max-width: 288px;
        text-align: center;
      }
    }

  }

  .section__portfolio{
    .section-portfolio__container{
      justify-content: center;
      div{
        width: 50vw;
        height: 50vw;
      }
    }
  }

  .section__pricing{
    .section-pricing__container{
      flex-direction: column;
      align-items: center;
      .section-pricing__box{
        margin-bottom: 30px;
        width: 400px;
        height: 500px;
      }
    }
  }


  footer{
    .container{
      width: 70vw;
      display: flex;
      justify-content: space-around;

    }
  }
}

@media (min-width: 768px) {

  .container{
      width: 80vw;
  }
  .section__pricing{
    .section-pricing__container{
      flex-direction: row;
      align-items: center;
      .section-pricing__box{
        margin: 30px 10px;
        width: 299px;
        height: 450px;
      }
    }
  }

  .section-service__container{
    display: flex;
    justify-content: center;
    div:nth-of-type(2){
      margin: 0 35px;
    }
    .section-service__box{
      max-width: 288px;
      text-align: center;
    }
  }

  .section__portfolio{
    .section-portfolio__container{
      justify-content: center;
      div{
        width: 33.33vw;
        height: 33.33vw;
      }
    }
  }

  .form__fieldset{
    display: flex;
    justify-content: space-between;
    .fieldset__label{
      width: 32%;
    }
  }
}

@media (min-width: 992px) {
  .site__header{
    .container{
      display: flex;
      justify-content: space-between;
    }
  }

  .main__content{
    padding-top: 150px;
    padding-left: 0;

    .main__image{
      bottom: -131px;
      right: 0;
    }
  }

  .section__service{
    margin-bottom: 260px;
    .section-service__image{
      display: table;
      margin-left: calc(50% - 327px);
    }
    .section-service__container{
      position: relative;
      .section-service__box{
        position: absolute;
        top: 5px;
      }
      .section-service__box:nth-of-type(1){
        left: calc(50% - 460px)
      }
      .section-service__box:nth-of-type(2){
        left: calc(50% - 137px)
      }
      .section-service__box:nth-of-type(3){
        left: calc(50% + 180px)
      }
    }
  }

  .section__portfolio{
    .section-portfolio__container{
      justify-content: center;
      div{
        width: 25vw;
        height: 25vw;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container{
    width: 1024px;
  }
  .main__content{
    padding-top: 250px;
    .main__heading{
      font-size: 72px;
    }
    .main__paragraph{
      max-width: 600px;
    }
    .main__image{
      width: 900px;
      height: 900px;
      bottom: -158px;
      right: 0;
    }
  }

}