@import "variables";
@import "media";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
}

.site__header {
  width: 100vw;
  min-height: 95px;
  background-image: linear-gradient(to bottom, $charcoal-grey-two, #3d454f);
  position: fixed;
  z-index: 3;

  .header__logo {
    @include text-gradient;
    text-align: left;
    font-size: 22px;
    cursor: pointer;
  }

  .nav__item {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
  }
}

.main__content {
  @include background-gradient;
  position: relative;

  .main__heading {
    @include text-gradient;
    margin-left: -3px;
    color: #ffffff;
  }

  .main__paragraph {
    @include text;
    color: #ffffff;
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.5;
  }

  .main__contact-button {
    @include button;
    margin-bottom: 34px;
  }

  .main__image {
    position: absolute;
    z-index: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .media-container {
    i {
      @include social-media;
      width: 46px;
      height: 46px;
      margin-right: 10px;
      font-size: 20px;
      line-height: 43px;

      &:after {
        top: 1.5px;
        left: 1.5px;
        width: 93%;
        height: 93%;
      }
    }

    a:nth-of-type(2) {
      i {
        color: $charcoal-grey-two;

        &:after {
          background-image: none;
        }
      }
    }
  }
}

.section__heading {
  font-size: 38px;
  font-weight: 300;
  text-align: center;
  color: #3a424c;
  padding: 91px;
}

.section__service {
  .section-service__image {
    width: 654px;
    margin: 0 auto;
  }

  .section-service__container {
    .section-service__box {
      .box__image {
        color: #3a424c;
        padding-top: 38px;
      }

      h4, p {
        font-weight: normal;
        text-align: center;
      }

      h4 {
        font-size: 24px;
        color: #3a424c;
        padding: 24px 0;
      }

      p {
        font-size: 14px;
        line-height: 1.5;
        color: #9aa0a8;
      }
    }
  }
}

.section__portfolio {
  width: 100vw;

  .section-portfolio__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    div {
      background-size: contain;
      display: flex;
      align-items: center;
      cursor: pointer;

      p {
        @include text-gradient;
        text-align: left;
        font-size: 24px;
        z-index: 2;
        display: none;
      }
    }

    div:nth-of-type(1) {
      background-image: url("../images/assets/layer-5.jpg");
    }

    div:nth-of-type(2) {
      background-image: url("../images/assets/layer-6.jpg");
    }

    div:nth-of-type(3) {
      background-image: url("../images/assets/layer-7.jpg");
    }

    div:nth-of-type(4) {
      background-image: url("../images/assets/layer-8.jpg");
    }

    div:nth-of-type(5) {
      background-image: url("../images/assets/layer-9.jpg");
    }

    div:nth-of-type(6) {
      background-image: url("../images/assets/layer-10.jpg");
    }

    div:nth-of-type(7) {
      background-image: url("../images/assets/layer-11.jpg");
    }

    div:nth-of-type(8) {
      background-image: url("../images/assets/layer-12.jpg");
    }

    div:hover {
      position: relative;

      &:after {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
      }

      p {
        display: table;
        position: relative;
        margin-left: calc(50% - 101px);
      }

      p:after {
        content: "";
        width: 37px;
        height: 37px;
        border: 2px solid $salmon;
        position: absolute;
        top: -4px;
        left: 180px;
        border-radius: 50%;
      }

      p:before {
        content: "+";
        @include text-gradient;
        font-size: 35px;
        position: absolute;
        top: -9px;
        left: 191px;
      }
    }
  }
}

.section__pricing {
  .section-pricing__container {
    display: flex;
    justify-content: center;

    .section-pricing__box {
      border-radius: 10px;
      border: solid 2px $pale-grey;
      position: relative;

      .box__header {
        @include background-gradient;
        height: 200px;
        border-top: $charcoal-grey-two;
        border-radius: 10px;
        position: relative;

        p:nth-of-type(1) {
          @include text-gradient;
          font-size: 28px;
          padding: 44px 24px;
        }

        p:nth-of-type(2) {
          position: absolute;
          font-size: 12px;
          color: #717a84;
          font-weight: 600;
          top: 75px;
          left: 25px;
        }

        p:nth-of-type(3) {
          font-size: 32px;
          color: $salmon;
          font-weight: bold;
          position: absolute;
          top: 48px;
          right: 24px;
        }

        p:nth-of-type(3):after {
          content: "$";
          color: $salmon;
          font-size: 24px;
        }
      }

      ul {
        position: absolute;
        background-color: #ffffff;
        list-style: none;
        top: 128px;
        width: 100%;
        padding-top: 10px;

        li {
          font-size: 16px;
          font-weight: normal;
          color: #99a0a8;
          position: relative;
          padding: 8px 57px;
        }

        li:before {
          content: "";
          width: 19px;
          height: 19px;
          border: 2px solid $salmon;
          position: absolute;
          top: 9px;
          left: 20px;
          border-radius: 50%;
        }

        li:after {
          content: "";
          width: 13px;
          height: 13px;
          background-image: url("../images/assets/arrow-right-solid.jpg");
          position: absolute;
          top: 14px;
          left: 26px;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      button {
        @include button;
        position: absolute;
        bottom: 25px;
        left: calc(50% - 51px);
      }
    }
  }
}

.section__blog {
  @include background-gradient;
  padding: 64px 0;

  p {
    @include text;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    max-width: 743px;
    margin: 0 auto;
  }

  span {
    @include text;
    font-size: 17px;
    line-height: 1.24;
    text-align: left;
    color: #99a0a8;
  }

  span:nth-of-type(1) {
    color: #ffffff;
  }

  i {
    position: relative;
    z-index: 1;
    margin-left: calc(50% - 18px);
    margin-top: 20px;
    color: $charcoal-grey-two;
    cursor: pointer;
  }

  i:after {
    content: "";
    width: 38px;
    height: 36px;
    background-image: linear-gradient(to top, #9D4F59, $salmon, $salmon);
    border-radius: 50%;
    position: absolute;
    margin-right: 22px;
    z-index: -1;
    top: -10px;
    left: -10px;
  }
}

.form-section {

  .form__error-message {
    text-align: center;
    color: $salmon;
    padding-bottom: 15px;
  }

  .section__form {
    width: 70vw;
    margin: 0 auto 92px;

    .form__fieldset {
      border: transparent;
    }

    .form__item, .form__select {
      width: 100%;
      height: 46px;
      border: 1px solid $pale-grey;
      border-radius: 3px;
      background-color: $pale-grey;
      margin: 9.5px 0;
      padding: 15px;
    }

    .form__item, .form__textarea {
      &::placeholder {
        @include placeholder;
      }

      &:-ms-input-placeholder {
        @include placeholder;
      }

      &::-ms-input-placeholder {
        @include placeholder;
      }
    }

    .form__textarea {
      height: 256px;
      resize: none;
    }

    .form__select {
      padding: 10px;
      @include placeholder;
      color: #3e3e3e;
    }

    .form__select-subtopics {
      display: none;
    }
  }

  .form__button {
    @include button;
    margin-left: calc(50% - 51px);
    margin-top: 10px;
  }
}

footer {
  @include background-gradient;

  .container {
    justify-content: space-between;
    padding: 64px 0;
    margin: 0 auto;
  }

  h5 {
    font-size: 20px;
    background-image: linear-gradient(to top, #585B62, #949598, #949598);
    font-weight: 800;
    color: $salmon;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
  }

  h5:after {
    content: "";
    border-top: 1px solid #49515c;
    width: 220px;
    height: 1px;
    position: absolute;
    bottom: -5px;
    left: 0;
  }

  p {
    @include text;
    padding-top: 5px;
    color: $salmon;
    font-size: 12px;
    line-height: 1.75;

    span {
      color: #99a0a8;
    }
  }

  .media-container {
    i {
      @include social-media;
      width: 25px;
      height: 24px;
      margin-right: 10px;
      font-size: 10px;
      line-height: 25px;

      &:after {
        width: 85%;
        height: 85%;
        top: 2px;
        left: 2px;
      }
    }
  }
}